@import "../../../shared/styles/shared.module.scss";
@import "../../../shared/styles/variables.modules.scss";

.main {
  position: relative;

  .content {
    padding: 0 20px;
    margin: 0 auto;
    max-width: pxToRem(1140);
  }

  .headerBlock {
    height: pxToRem(58);
  }
}
