@import "../../../../shared/styles/shared.module.scss";
@import "../../../../shared/styles/variables.modules.scss";

.item {
  @include HSpaceBetweenFlex;
  height: pxToRem(40);
  width: 100%;
  border-radius: 5px;
  padding: 0 20px;

  &:hover {
    background-color: $blue-0;
  }

  .left {
    @include HSpaceBetweenFlex;

    p {
      @include font(pxToRem(12), 500, $primary-color);
      margin-left: 10px;
    }
  }
}
