@import "../../../shared/styles/shared.module.scss";
@import "../../../shared/styles/variables.modules.scss";

.input {
  label {
    @include font(pxToRem(12), 600, $primary-color);
  }

  input {
    padding: 0 15px;
    height: pxToRem(48);
    border: 2px solid $primary-color;
    border-radius: 8px;
  }
}

.dropDown {
  position: relative;
  height: pxToRem(48);

  .dropDownBtn {
    padding: 0 15px;
    height: pxToRem(48);
    border: 2px solid $primary-color;
    border-radius: 8px;

    &.isOpen {
      span {
        transform: rotate(180deg);
      }
    }
  }

  .options {
    position: absolute;
    top: 100%;
    height: 0;
    width: 100%;

    button {
      padding: 0 15px;
      height: pxToRem(48);
      border: 2px solid $primary-color;
      border-radius: 8px;

      &:hover {
        background-color: $blue-0;
      }
    }
  }
}
