@import "../../../../shared/styles/shared.module.scss";
@import "../../../../shared/styles/variables.modules.scss";

.subHeader {
  @include HSpaceBetweenFlex;
  align-items: flex-start;
  margin: 40px 0;

  .hTitle {
    @include font(pxToRem(36), 700, $primary-color);

    @include mobile-only {
      margin-top: 5px;
    }
  }

  .hSubTitle {
    @include font(pxToRem(12), 500, $primary-color);
  }

  .rightComp {
    margin-left: 10px;
  }
}
