@import "../../../shared/styles/shared.module.scss";
@import "../../../shared/styles/variables.modules.scss";

.header {
  position: absolute;
  top: 0;
  left: 0;
  height: pxToRem(58);
  width: 100%;
  border-bottom: 1px solid $primary-color;
  background-color: $white;
  padding: 0 20px;

  @include HSpaceBetweenFlex;

  .aside {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .profileIconWrapper {
    position: relative;

    .profileIcon {
      margin-left: 40px;
      width: pxToRem(40);
      height: pxToRem(40);
      border-radius: 1000000px;
      background-color: $primary-color;
      @include CenterItemFlex;
      position: relative;
    }

    .options {
      position: absolute;
      top: pxToRem(43);
      right: 0;
      display: flex;
      flex-direction: column;
      border: 2px solid $primary-color;
      border-radius: 8px 0 8px 8px;
      overflow: hidden;
      background-color: $white;

      button {
        padding: 0 15px;
        height: pxToRem(48);

        &:not(:last-of-type) {
          border-bottom: 2px solid $primary-color;
        }

        &:hover {
          background-color: $blue-0;
        }
      }
    }
  }

  .unauth {
    svg {
      path {
        fill: $white;
      }
    }
  }

  &__auth {
    justify-content: center;
    background-color: $primary-color;
  }
}
