@import "../../../shared/styles/shared.module.scss";
@import "../../../shared/styles/variables.modules.scss";

.button {
  border-radius: 8px;
  height: pxToRem(48);
  @include font(pxToRem(14), 600, $white);
  @include CenterItemFlex;
  background-color: $primary-color;
  width: 100%;

  &.sm {
    height: pxToRem(28);
    border-radius: 5px;
    width: max-content;
    padding: 0 20px;
  }
}
